// Navigation Cards Component Styles
.navigation-cards {
  padding: 40px 30px;
  background-color: color-mix(in srgb, var(--color-primary) 20%, transparent);
  &__title {
    color: $black;
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 40px;

    @media (max-width: 768px) {
      font-size: 32px;
      margin-bottom: 30px;
    }
  }

  &__boxes {
    margin-bottom: 40px;
  }

  &__description {
    margin: 0 auto;
    border-radius: 20px;
    font-size: 16px;
    line-height: 1.6;
    color: $gray-700;

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }

  .itembox {
    background-position: calc(100% - 42px) 20%;
    background-repeat: no-repeat;
    background-size: 120px;
    display: flex;
    justify-content: space-between;
    min-height: 183px;
    padding-left: 20px;

    &.active {
      background-color: var(--color-primary);
    }
    .box-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;

      .box-question {
        font-size: 25px;
        margin: 0;
        min-height: auto;
        line-height: 1.2;
        text-transform: none;
      }

      .box-title {
        margin: 0;
        min-height: auto;
        line-height: 1.2;
        text-transform: uppercase;
      }
    }

    .arrow-icon {
      background: $white;
      height: 40px;
      width: 40px;
      line-height: 40px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $black;

      img {
        width: 14px;
        height: 14px;
      }
      &.arrow-down {
        transform: rotate(133deg);
      }
    }
  }

  .colored-boxes {
    padding: 56px 0;
  }
  .itembox {
    padding: 10px 10px 15px;
    border-radius: 34px;
    border: 1px solid #000000;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  .itembox::before {
    content: "";
    width: 100%;
    height: 100%;
    background: #ffffff;
    border-radius: 34px;
    border: 1px solid #000000;
    position: absolute;
    z-index: -1;
    left: 4px;
    top: 4.53px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  .itembox span img {
    width: 14px;
  }

  .itembox h4 {
    font-size: 28px;
    font-weight: 500;
    line-height: 34.22px;
    text-align: center;
    color: #000000;
    margin-top: 52px;
    min-height: 70px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-transform: uppercase;
  }
}
