.div-choice {
  height: 8em;
  margin: 1em;
  cursor: pointer;
  border-radius: 1em;
  border: solid 1px $gray-600;
  position: relative;
  user-select: none;
  background-color: $light;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    background: #ffffff;
    border-radius: 1em;
    border: 1px solid #000000;
    position: absolute;
    z-index: -1;
    left: 4px;
    top: 7px;
  }

  > p {
    margin: 3em auto;
    text-align: center;
    font-size: 1.5em;
  }

  > span {
    position: absolute;
    top: 10%;
    right: 5%;
    border-radius: 50%;
    background-color: $light;
    width: 1.5em;
    text-align: center;
    border: 1px solid black;
  }
}

.bg-flash-green {
  background-color: #8ee897;
}

.bg-flash-pink {
  background-color: #eb74ff;
}

.bg-flash-orange {
  background-color: #ffb74d;
}

.row {
  row-gap: 48px;
}
