// Mixins
@mixin shadow-card {
  box-shadow: 0px 0px 8px $color-shadow;
}

@mixin shadow-soft {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

@mixin shadow-strong {
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.1), 0px 4px 4px $color-shadow;
}

 // Arrow Button Utility
@mixin arrowbtn($bg-color) {
  font-size: 22px;
  font-family: YWFTPoster-Regular;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 10px 7px 32px;
  position: relative;
  background: $white;
  border: 1px solid $black;
  border-radius: 34px;
  color: $black;
  line-height: 1;
  max-width: 440px;
  small {
    margin: 0 10px;
  }

  .u-arrow-icon {
    width: 41px;
    height: 41px;
    line-height: 41px;
  }
  .btntitle {
    margin: 0 auto;
    span {
      font-family: YWFTPoster-Medium;
    }
  }

  .arrow-icon {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: $bg-color;
    border: 1px solid $black;
    line-height: 34px;
    vertical-align: middle;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    color: #ffffff;
    margin-left: 20px;
}

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    background: $bg-color;
    border-radius: 34px;
    border: 1px solid $black;
    position: absolute;
    z-index: -1;
    left: 4px;
    top: 4.53px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  &:hover::before {
    opacity: 1;
  }

  &:focus .u-arrow-icon {
    transform: rotate(45deg);
  }
}


.underline-svg {
  position: relative;
  &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -36%;
      width: 100%;
      height: 100%;
      background-image: url('../images/underline.svg');
      background-repeat: no-repeat;
      background-position: left;
      z-index: 1;
    }
}