// Import vendor styles
@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/toastr/toastr';
@import '../../node_modules/bootstrap-icons/font/bootstrap-icons.css';
@import '../../node_modules/leaflet/dist/leaflet.css';
@import '../../node_modules/tom-select/dist/css/tom-select.bootstrap5.css';
@import '../../node_modules/flatpickr/dist/flatpickr.min.css';
@import 'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap';

// Import custom styles
@import 'variables';
@import 'utilities';

// Import component styles
@import './components/choices_div';
@import './components/flatpickr';
@import './components/font-headings';
@import './components/upcoming-events-carousel-section';
@import './components/cards';
@import './components/tabs';
@import './components/paginator';
@import './components/section_header';
@import './components/navigation_cards';
@import './components/event_show';

// Import page styles
@import './events';

// Custom fonts
@font-face {
  font-family: 'YWFTPoster-Regular';
  src: url('../fonts/YWFT-Poster-Regular.otf');
}

@font-face {
  font-family: 'YWFTPoster-Medium';
  src: url('../fonts/YWFT-Poster-Medium.otf');
}

@font-face {
  font-family: 'YWFTPoster-Semi-Bold';
  src: url('../fonts/YWFT-Poster-Semi-Bold.otf');
}



body {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
a {
  font-family: YWFTPoster-Medium;
}

figure {
  margin: 0;
}

span,
small {
  display: inline-block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  transition: 0.3s all ease-in-out;
}

.footer-area a:hover {
  opacity: 0.8;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

button:focus {
  outline: none;
  box-shadow: none !important;
}

input:focus,
textarea:focus {
  outline: none;
  border: none;
}

.divider {
  font-size: 1em;
  display: flex;
  align-items: center;

  &::before,
  &::after {
    flex: 1;
    content: '';
    background-color: #999999;
    height: 1px;
    margin: 1em;
  }
}

.desc-3l {
  height: 4.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.text-truncate-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  // display: -webkit-box;
  // -webkit-line-clamp: 2;
  // -webkit-box-orient: vertical;
}

.show-2l {
  height: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.bg-purple {
  background-color: #d800fc;
}

.h-65 {
  height: 65%;
}

.h-200 {
  height: 200px;
}

#map {
  height: 300px;
}

/* Leaflet dark mode */
:root {
  --map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}

.map-tiles {
  filter: var(--map-tiles-filter, none);
}

/* bootstrap flash message */
.bi {
  width: 1em;
  height: 1em;
  fill: currentcolor;
}

form label.required::after,
form legend.required::after {
  content: '*';
  color: #fa0581;
  margin-left: 2px;
}

form div.form-check label.required::after {
  content: '';
}

form[name='service'],
form[name='post'] {
  label {
    font-family: YWFTPoster-Medium, sans-serif;
    font-size: 1.2em;
  }

  h1 {
    font-family: YWFTPoster-Semi-Bold, sans-serif;
    font-size: 2em;
  }

  p,
  span {
    font-family: YWFTPoster-Medium, sans-serif;
    font-size: 1.2em;
  }

  h1,
  p,
  label,
  span {
    text-transform: uppercase;
  }

  .bordered-box {
    border: 1px solid black;
    border-radius: 34px;
    display: flex;
    min-height: 308px;
    align-items: center;
    justify-content: center;
  }

  input,
  button,
  select,
  optgroup,
  textarea,
  .form-select {
    font-family: Poppins, sans-serif;
    font-size: 13px;
    border-radius: 34px;
    border: 1px solid black;
  }

  textarea {
    min-height: 308px;
  }

  .focus .ts-control {
    border-radius: 34px;
  }
}

// TomSelect multi-select item fixes
.ts-wrapper.multi .ts-control > div.item {
  white-space: normal !important; // Allow text to wrap
  overflow: visible !important; // Show full content
  text-overflow: initial !important; // Don't use ellipsis
  max-width: 100%; // Ensure item doesn't exceed container
  display: inline-flex; // Use flexbox for better layout
  align-items: center; // Vertically center content
  padding-right: 24px !important; // Make room for remove button
  position: relative; // For absolute positioning of remove button
  
  .remove {
    position: absolute !important;
    right: 4px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    margin-left: 4px !important;
    flex-shrink: 0; // Prevent remove button from shrinking
  }
}




