/*
======================
For - Big - Screen
======================
*/

@media screen and (width >= 1900px) {
  .curve-img {
    position: absolute;
    left: 41%;
    height: 70%;
  }
}

/*
=======================
For - Dextop - Screen
=======================
*/

@media screen and (width >= 1400px) and (width <= 1699px) {
  .curve-img {
    position: absolute;
    left: 41%;
    height: 70%;
  }
}

@media screen and (width >= 1200px) and (width <= 1399px) {
  .curve-img {
    position: absolute;
    left: 40%;
    bottom: 0;
    height: 74%;
  }
}

/*
=======================
For - Leptop - Screen
=======================
*/

@media screen and (width >= 992px) and (width <= 1199px) {
  .container {
    max-width: 934px;
  }

  .interest-area .container {
    max-width: 890px;
  }
}

@media screen and (width >= 992px) {
  .interest-form {
    padding-left: 30px;
  }
}

/*
=======================
For - Ipad - Screen
=======================
*/

@media screen and (width >= 768px) and (width <= 991px) {
  .header-area {
    padding: 30px 0;
  }

  .header-logo a {
    font-size: 38px;
  }

  /*
    ==============
    find-area
    ==============
    */

  .find1 .arrow-btn {
    padding: 8px 20px;
  }

  /*
    ==============
    comment area
    ==============
    */

  .connecter-btn small {
    font-size: 12px;
  }

  .curve-img {
    position: absolute;
    left: 34%;
    bottom: 30px;
    height: 78%;
  }

  /*
    ================
    footer-area
    ================
    */

  .ftr-content {
    padding: 0 0 20px;
  }

  .find1 .arrow-btn strong {
    font-size: 18px;
  }

  .find-btn {
    padding: 15px 10px;
  }
}

/*
=======================
For - Mobile - Screen
=======================
*/

@media screen and (width <= 767px) {
  h3 {
    font-size: 34px;
    padding: 0 20px;
  }

  .header-area {
    padding: 20px 0;
  }

  .header-area > img {
    display: none;
  }

  .header-logo a {
    font-size: 35px;
  }

  .hdr-logo img {
    width: 80px;
  }

  /* banner-area */
  .banner-area {
    padding: 20px 0 0;
    margin: 0;
  }

  .banner-area h2 {
    font-size: 37px;
    line-height: normal;
    text-align: start;
  }

  .banner-area h2 br {
    display: none;
  }

  .banner-area > img.bnr1,
  .banner-area > img.bnr3,
  .banner-area > img.bnr4 {
    display: none;
  }

  .banner-area h2 span img {
    bottom: 4px;
    width: 260px;
    z-index: -1;
  }

  .banner-area h2 .bnr2 {
    width: 80px;
    transform: translateY(12px);
    margin-left: 5px;
  }

  .banner-area > img.bnr2 {
    width: 80px;
    bottom: -41px;
    top: initial;
  }

  .banner-area h2 span.pink-box {
    padding: 10px 18px 0;
  }

  /*
    ================
    colored-boxes
    ================
    */

  .itembox {
    margin: 0 0 20px;
  }

  .curve-img {
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 84.4%;
    width: 94%;
    z-index: -3;

    /*! top: 124px; */
    transform: translateX(-50%);
  }

  .comment p {
    background-color: #ffffff;
  }

  .comment3 {
    padding-bottom: 0;
    margin-left: 0;
    padding-right: 100px;
  }

  .comment > img {
    width: 51%;
  }

  .comment1 > img {
    min-width: 155px;
  }

  .comment2 {
    padding-left: 116px;
    padding-bottom: 10px;
  }

  .comment3 > img {
    width: 120px;
  }

  .comment4 > img {
    width: 80px;
  }

  .comment5 img {
    width: 158px;
  }

  .comment6 {
    padding-left: 0 !important;
  }

  .comment6 img {
    width: 162px;
  }

  .comment6 small {
    font-size: 15px;
  }

  .commencer-btn {
    width: 95%;
  }

  .commencer-btn,
  .arrow-btn {
    font-size: 22px !important;
  }

  .commencer-btn small {
    width: 80%;
  }

  /*
    =================
    interest-area
    =================
    */
  .interest-area {
    padding: 60px 0;
  }

  .interest-area > img {
    top: 0;
  }

  .interest-left {
    padding-right: 0;
    text-align: center;
  }

  .interest-left > h3,
  .interest-left > h5,
  .interest-left > p {
    width: 100%;
    text-align: center;
    max-width: 100%;
  }

  .arrow-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .arrow-btn small {
    width: 80%;
  }

  .interest-form .arrow-btn {
    margin-top: 20px;
  }

  /*
    =============
    find area
    =============
    */

  .find-flex {
    grid-template-columns: repeat(1, 1fr);
  }

  .find-btn .arrow-btn {
    display: block;
    width: auto;
    font-size: 13px !important;
  }

  .find1 > img {
    height: 414px;
    object-fit: cover;
  }

  .catalogue-btn__2 {
    padding: 0 20px;
  }

  /*
    ======================
    pourquoi-coop-area
    ======================
    */

  .pourquoi-coop-area {
    padding: 60px 0 80px;
  }

  .pourquoi-coop-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .pourquoi-coop-content h2 {
    font-size: 34px;
    text-align: center;
    margin: 0 0 25px !important;
  }

  .pourquoi-coop-content p {
    text-align: justify;
  }

  /*
    ================
    footer-area
    ================
    */

  .footer-area {
    margin-top: 30px;
    padding-left: 5%;
    position: relative;
    background-image: none;
    background-color: #000000;
    padding: 60px 0;
  }

  .ftr__img {
    position: absolute;
    width: 100%;
    top: -30px;
    z-index: -1;
    left: 0;
  }

  .ftr-content {
    padding: 0 0 28px 15px;
  }

  .ftr-content h3 {
    font-size: 20px;
  }

  .ftr-content p,
  .ftr-content ul li a {
    font-size: 13px;
    line-height: 24.5px;
    margin: 0 0 4px;
  }
}
